{#
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-8 mb-md-5">
                <h2 class="text-center">If you got any questions <br>please do not hesitate to send us a message</h2>
                {{ form_start(form) }}

                {#<form action="#" class="bg-light p-5 contact-form">#}
                <div class="form-group">
                    {{ form_widget(form.nom, {'attr':{class: "form-control",placeholder: "Your Name"}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.entreprise, {'attr':{class: "form-control",placeholder: "Your Entrprise"}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.email, {'attr':{class: "form-control",placeholder: "Your Email"}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.pays, {'attr':{class: "form-control",placeholder: "Your Country"}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.sujet, {'attr':{class: "form-control",placeholder: "Subject"}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.message, {'attr':{class: "form-control",placeholder: "Your Name", cols: "30", rows: "7"}}) }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary py-3 px-5">{{ button_label|default('Save') }}</button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>
    </div>
</section>